@model eventsBook.Models.EventCardDetails

<head>
    <link rel="stylesheet" href="~/css/EventCard.css">
</head>

<div class="container-fluid">
    <div class="row align-items-center cl_@Model.index">
        <!-- Image column (now on left) -->
        <partial name="_imageContainer" model="@Model.Event.Images" />
        <!-- Text content column -->
        <div class="col-md-6 details">
            <h1 class="display-4 mb-4">@Model.Event.Name</h1>
            <p class="lead mb-5">
                @Model.Event.Description
            </p>

            <!-- Stats section -->
            <div class="row mt-5">
                <div class="col-4 registered">
                    <div class="stat-number">@Model.Event.Users.Count()+</div>
                    <div class="stat-label">Registared</div>
                </div>
                <div class="countdown-container">
                    <h3>Event Countdown </h3>
                    <div class="countdown-display">
                        <span class="days">00</span>d
                        <span class="hours">00</span>h
                        <span class="minutes">00</span>m
                        <span class="seconds">00</span>s
                    </div>
                </div>
            </div>
            <a href="/thankyou">
                <button class="gradient-border-btn">
                    @{
                        var buttonText = Model.isRegister ? "Booked" : "Book Now";
                    }
                    @buttonText
                </button>
            </a>
        </div>

    </div>

</div>
