@model List<eventsBook.Models.Images>
@{
    int? Id =(int) (ViewData["Id"] == null?0:ViewData["Id"]);

}
<div id="carouselExample_@Id" class="carousel slide col-md-6">
    <div class="carousel-inner">
        @{
            int counter = 0;
            foreach (var img in @Model)
            {
                string active = counter++==0?"active":"";
                var name = img.Url.Substring(img.Url.LastIndexOf("/"));
                <div class="carousel-item @active">
                    <img src="@img.Url" class="d-block w-100" alt="image Name @name">
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" onclick="slide(this,'previous')" type="button" data-bs-target="#carouselExample_@Id" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" onclick="slide(this,'next')" type="button" data-bs-target="#carouselExample_@Id" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>