@model List<eventsBook.Models.Images>
<div id="carouselExample" class="carousel slide col-md-6">
    <div class="carousel-inner">
        @foreach (var img in @Model)
        {
            var name = img.Url.Substring(img.Url.LastIndexOf("/"));
            <div class="carousel-item active">
                <img src="@img.Url" class="d-block w-100" alt="image Name @name">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>