@model List<eventsBook.Models.EventCardDetails>
@{
    ViewData["Title"] = "Home Page";
}
<script src="/js/cardCounter.js"></script>
<script>
    function callTimer(time, selector) {
        let endTime = new Date(time);
        setInterval(() => updateCountdown(endTime, selector), 1000);
        updateCountdown(endTime, selector); // Initial call
    }
</script>
<div class="text-center">

    @{
        foreach (var t in @Model)
        {
            <partial name="_EventCard" model=t />
            <script>
                // Update every second
                callTimer("@t.Event.Date", "cl_@t.Event.Id");
            </script>
        }
    }
</div>
