/* .dark{
    background-color: rgb(0, 0, 0);
    color:white;
}
footer,footer>div{
    color:white;
}
nav{
    background-color: rgb(0, 0, 0) !important;
}
.cardContainer{
    background-color: rgb(65, 65, 65);
}
.dark>h1.display-4.mb-4{
    color: #54aaff;
} */